@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono';
    font-size: 14px;
}
body{
    width: 100%;
    overflow-x: hidden;
}
:root{
    --purple: #000852;
    --black: #363636;
}

.purple{
    color: var(--purple);
}
/* nav */

.nav-container{
    background-color: #000852;
    color: white;
    height: 70px;
}
.nav{
    height: 100%;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

/* container */

.container{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

/* button */
a{
    text-decoration: none;
}
.cta{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 12px;
    font-family: 'Poppins';
    cursor: pointer;
    color: white;
}
.btn{
    color: #000852;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 14px;
    background-color: #E6E6FF;
    padding: 10px 15px;
    width: 150px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    cursor: pointer;


}
/* Typography */

h1{
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 500;
}
h4{
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 900;
}
h5{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 900;
}
/* layouts-1 */

.landing{
    text-align: center;
    color: white;
}
.landing > p{
    max-width: 463px ;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 74px;
}
.landing > h1{
    margin-bottom: 34px;
    padding-top: 167px;
}
.landing > .btn-container{
    padding-bottom: 227px;
}
.m-auto{
    margin-left: auto;
    margin-right: auto;
}
.section-1{
    background-image: url('../img/top-background-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

/* layout-2 */

.section-2{
    background-color: var(--purple);
    transform: skewY(-3deg);
    position: relative;
    top: -50px;
    height: 872px;
}

/* card */

.card-container{
    width: 350px;
    height: 201px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    
}
.card-content{
    width: 250px;
    color: var(--black);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.reverse-3{
    transform: skewY(3deg);
}
.card-title{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 900;
    margin-bottom: 16px;
    margin-top: 16px;
}
.card-list{
    display: flex;
    justify-content: space-between;
    top: -30px;
    position: relative;
}

.df-wrap{
    flex-wrap: wrap;
}
.card-container:nth-child(2){
    top: -50px;
 }
.white{
    color: white;
}
 .left-content{
     max-width: 390px;
 }
 .row{
     margin-top: 100px;
     margin-bottom: 100px;
     max-width: 940px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .left-content > h4{
     margin-top: 40px;
     margin-bottom: 40px;
 }
 .left-content > p{
    margin-bottom: 20px;
}
.center-content{
    text-align: center;
}
.center-content > p{
    max-width: 526px;
    margin-top: 36px;
    margin-bottom: 50px;
}

.feature{
    max-width: 198px;
}

.feature > h5{
    margin-top: 20px;
    margin-bottom: 20px;
}
.feature-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.contactus{
    color:white;
    top: 150px;
    position: relative;
    text-align: center;
}

.contactus > p{
    max-width: 386px;
    margin-top: 22px ;
    margin-bottom: 43px;
}

.contact-container{
    max-width: 530px;
    width: 100%;
    background: #E6E6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: var(--black);
}
.contact-content{
    max-width: 453px;
    padding: 50px 35px;
}

.cta-form{
    display: flex;
    flex-direction: column;
}

.cta-form > textarea{
    max-width: 100%;
}

.fname{
    text-align: left;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: bold;
    text-transform: uppercase;
}

.cta-form > input,textarea{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
}

.cta-form > input{
    height: 40px;
}

.btn-blue{
    background: var(--purple) !important;
    color: white;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 30px;
    border: none;
}
.cta-form > label {
    margin-top: 20px;
}

.cta-form > input:focus,textarea:focus{
    outline: none;
    padding:10px;
}

.footer{
    background: linear-gradient(121.46deg, #7979FF -25.09%, #340D74 57.23%);
    border: 1px solid #000000;
    transform: rotate(-180deg);
    height: 350px;
    z-index: -1;
    margin-top: -100px;
    position: relative;
}
.d-flex{
    display: flex;
}

.social-icons-list{
    width: 100px;
    justify-content: space-between;
    top: -153px;
    position: relative;
}

.social-icons-list > .twitter,.telegram{
    background-color: var(--purple);
    border-radius: 50%;
    padding: 10px;
}
.reverse-180{
    transform: rotate(180deg)
}

.h-footer{
    position: relative;
    top: -60px;
    height: 0.5px;
}

.copyright{
    font-family: 'Poppins';
    text-align: center;
    position: relative;
    font-weight: bold;
    top: -30px;
    color: white;
}
@media only screen and (max-width: 1024px){
    .card-list.df-wrap {
        justify-content: center;
    }
    .card-container{
        margin: 10px;
    }
    .card-container:nth-child(2){
        top: 0px;
    }
    .section-2-m {
        height: max-content;
    }
    .right-content > img{
        width: 100%;
    }
    .row{
        padding-bottom: 50px;
    }
    .left-content{
        margin-left: 20px;
        margin-right: 20px;
    }
    .right-content{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media only screen and (max-width: 786px){
    .card-list.df-wrap {
        justify-content: center;
    }
    .card-container:nth-child(2){
        top: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
     }
     .right-content > img{
        width: 100%;
    }

     .feature-list{
         justify-content: center;
         text-align: center;
     }
     .feature{
         margin-bottom: 50px;
         margin-top: 50px;
         margin-right: 20px;
         margin-left: 20px;
     }
     .df-wrap{
         justify-content: center;
     }
}
